body,
footer {
  font-family: "Inter", sans-serif;
}

.container {
  width: 1100px;
  margin: 0 auto;
}

.info {
  padding: 39px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  background-image: linear-gradient(90deg, rgba(43, 74, 97, 1) 0%, rgba(255, 255, 255, 0) 100%), url(./img/fc86e7249ded2b69261ba00083f29f1d545d706f.png);
  background-size: cover;
}

.logo>a {
  display: block;
  width: 186px;
  height: 72px;
}

.logo img {
  width: 100%;
}

.switcher {
  display: flex;
  align-items: center;
}

.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 2em;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  border: 2px solid #414141;
  border-radius: 50px;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  left: 0.2em;
  bottom: 0.2em;
  background-color: white;
  border-radius: inherit;
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}

.switch input:checked+.slider {
  box-shadow: 0 0 20px rgba(9, 117, 241, 0.8);
  border: 2px solid #0974f1;
}

.switch input:checked+.slider:before {
  transform: translateX(1.5em);
}

.nav ul {
  list-style: none;
  display: flex;
  gap: 38px;
}

.nav a:hover {
  color: #94CFFF;
}

h5 {
  color: white;
}

.login {
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
}

.nav a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.hero {
  padding: 180px 0;
  background-image: url(./img/4b1ea9e9dbed054cd19ba2ec0246004d682a0389.png);
  background-size: cover;
}

section.hero .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.monolog {
  display: flex;
  flex-direction: column;
  font-family: Inter;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: 0%;
  color: white;
  width: 380px;
}

.monolog a {
  font-family: "Headland One",sans-serif;
}

.arrow {
  margin-left: 4px;
}

.apps {
  gap: 25px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.join {
  border-top-left-radius: 45px;
  border-bottom-right-radius: 45px;
  background-color: #0B0E66;
  color: #26C7EA;
  display: inline-block;
  padding: 25px 75px;
  border: 3px solid #26C7EA;
  text-decoration: none;
  font-size: 24px;
  width: 206px;
  text-align: center;
}

.header-login {
  display: inline-block;
  padding: 9px 36px;
  width: 141;
  border-top-left-radius: 35px;
  border-bottom-right-radius: 35px;
  border: 3px solid #26C7EA;
  background-color: #0B0E66;
  color: #26C7EA;
  text-decoration: none;
}

.btn {
  all: unset;
  font-family: "Headland One",sans-serif;
}

.trailer {
  text-align: center;
}

.trailer-watch {
  display: inline-block;
  width: 225px;
  text-align: center;
  padding: 25px 18px;
  border-top-left-radius: 45px;
  border-bottom-right-radius: 45px;
  border: 3px solid #26C7EA;
  background-color: #0B0E66;
}

.trailer a {
  font-family: "Headland One",sans-serif;
  color: #26C7EA;
  text-decoration: none;
}

.phrase {
  padding: 75px 0;
}

.phrase h3 {
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  width: 900px;
  margin: 0 auto;
}

.Jake-phrase {
  color: #0a3853;
}

.phrase p {
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
}

.ikran {
  display: flex;
  width: 420px;
  height: 140px;
  margin: 0 auto;
  align-items: center;
}

.ikran img {
  width: 100%;
  object-fit: cover;
}

section.phrase .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.trailer {
  padding: 330px 0;
  background-image: url(./img/dd69e0c78a8d0133a3ef0943ba0fad8e74a7dfde.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.trailer>a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.language {
  padding: 58px 0;
  background-image: url(./img/e6a8471dc26ec6b5111caa5165792ad61fa8bf43.png);
  background-size: cover;
}

h2 {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
  font-family: "HeadlandOne";
  font-weight: 400;
  font-style: Regular;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: justify;

}

.wrap h3 {
  font-family: "HeadlandOne";
  font-weight: 400;
  font-style: Regular;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;

}

.small-ikran {
  width: 152px;
}

.small-ikran img {
  width: 100%;
  object-fit: cover;
}

.card-arrow {
  width: 152px;
}

.card-arrow img {
  width: 100%;
  object-fit: cover;
}

.hello,
.hru,
.well,
.thank,
.see,
.follow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 2px 2px 2px 2px;
}

.wrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 36px;
}

footer {
  background-image: linear-gradient(90deg, rgba(43, 74, 97, 0.87) 0%, rgba(43, 74, 97, 0.87) 100%), url(./img/fc86e7249ded2b69261ba00083f29f1d545d706f.png);
  background-size: cover;
}

footer>.container {
  padding: 77px 0;
}

.foot-logo {
  display: flex;
  width: 186px;
  height: 72px;
  justify-content: flex-start;
}

footer img {
  object-fit: cover;
  width: 100%;
}

.coop {
  display: flex;
  flex-direction: column;
  font-size: 24px;
}

.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.line {
  display: block;
  height: 153px;
  width: 2px;
  background-color: white;
}

.rights {
  font-size: 15px;
  margin: 0 auto;
}

.coop a {
  text-decoration: none;
  color: white;
}